@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playwrite+BE+VLG:wght@100..400&family=Playwrite+IT+Trad:wght@100..400&family=Poppins:wght@400;700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sankofa+Display&family=Syne:wght@400..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    height: 75px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul{
    list-style: none;
}
.info h1{
    font-size: 2.5rem;
}
.info{
     font-size: 25px;
}
.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.line{
    background-color: black;
    width: 0;
    height: 3px;
    position: absolute;
    background-color: #911d91;
    transition: ease-in-out;
}
.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: sans-serif;
    position: relative;
}
.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover{
    background-color: rgb(214, 220, 210);
}
.gameInfo{
    padding: 0 34px;
    font-family: "Syne", sans-serif;
}
.image img{
    width: 0;
    transition: width 1s ease-in-out;
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bt-0{
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
button {
    --c: #fff;
   /* text color */
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,
      #004dff;
   /* background color */
    color: #0000;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
    text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
      calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
    outline-offset: .1em;
    transition: 0.3s;
  }
  
  button:hover,
  button:focus-visible {
    --_p: 0%;
    --_i: 1;
  }
  
  button:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q #0005;
    transition: 0s;
  }
  
  button {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
    padding: .1em .3em;
  }
@media screen and (max-width:950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo{
        font-size: 1.5rem;
    }
    .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
    
}